@import url('https://fonts.googleapis.com/css2?family=Finlandica&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body {
    background-image: url('./img/background_image.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh
}

.nav-bar {
    display: flex;
    width: 90%;
    height: 20vh
}

.logo-link {
    display: flex;
    flex: 1;
}

.buttons {
    display: flex;
    flex: 2;
    justify-content: space-between;

    list-style-type: none;
    align-items: center;
    
}

.buttons a {
    text-decoration: none;
    font-size: 25px;
    color: aliceblue;

}

.logo {
    display: flex;
    clip-path: circle(50% at 50% 50%);
    height: 120px;
    margin: 20px;
    margin-left: 60px;
}

.buttons button {
    background-color: #a6328f;
    font-size: 25px;
    border-radius: 20px;
    padding: 10px 40px;
    color: aliceblue;
    border: none;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 80vh;
}

.col {
    display: flex;
    flex: 0.5;
}

.col-2 {
    overflow: hidden;
}

.holding-phone {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 95%;
}

.col-1 {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
    color: #fff;
    margin: 50px 60px;

}

.col-1 p {
    font-size: 35px;
    font-family: 'Finlandica';
}

.col-1 h1 {
    font-size: 120px;
    margin-top: -50px;
    font-family: 'Secular One';
}

.google-play {
    height: 120px;
    margin-top: -90px;
    margin-left: -20px;

}